body {
    padding: 0;
    margin: 0;
    background-color: #E9C46A;
    color: #1E1E24;
}
#title-container {
    position: absolute;
    width: 510px;
    height: 510px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    background-color: #F4A261;
    transition: 1.5s;
    transition-timing-function: cubic-bezier(.74,-0.15,.58,1);
}
#title-container h1 {
    margin: 55px 0 35px 0;
}
form {
    font-size: 30px;
    font-family: initial;
    display: flex;
    justify-content: space-around;
}
form input {
    margin: 5px 0 0 0;
    font-size: 15px;
    text-align: center;
    height: 40px;
}
#play-button {
    margin: 25px 0 0 0;
    font-size: 30px;
    width: 180px;
}
#cover {
    position: absolute;
    width: 510px;
    height: 510px;
    background-color: #E9C46A;
    opacity: 0.5;
}
#win-screen {
    position: relative;
    bottom: 150px;
    width: 700px;
    height: 90px;
    background-color: #F4A261;
    margin: 0 auto;
    border: 1px solid #F4A261;
    text-align: center;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}
#gameboard {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    width: 510px;
    height: 510px;
    font-family: 'Indie Flower', cursive;
    font-size: 120px;
    margin: 10px auto 0 auto;
}
.spots {
    display: block;
    outline: 7px solid #E9C46A;
    width: 170px;
    height: 170px;
    background-color: #F4A261;
    text-align: center;
}
#game-over-message {
    margin: 10px 0 5px 0;
}
button {
    font-size: 20px;
    color: #1E1E24;
    background-color: #E76F51;
    border: none;
}
button:hover {
    scale: 1.1;
    background-color: #EB886F;
}
#play-again-button {
    height: 30px;
}
#whose-turn-box {
    width: 400px;
    margin: 25px auto 0 auto;
    text-align: center;
    font-size: 25px;
}